<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div class="container">
  <h1 style="color:#C70039;font-weight:bold;">New Customer</h1>
  <form method="POST">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-success" style="width:100px;">Submit</button>
  </form>
  </div>

</body>
</html>
